
@{
    ViewBag.Title = "mycar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>hey this is mycar</h2>
<h2>hey this is mycar</h2>
<h2>hey this is mycar</h2>
<h2>hey this is mycar</h2>
<h2>hey this is mycar</h2>

